* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    /* background-image: linear-gradient(45deg, #980155, #F7BC02);
    background-size: 200% 200%;
    background-repeat: no-repeat; */
    background-color: rgb(40, 60, 85);
}

#ygo-title {
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 3em;
    text-shadow: 5px 5px 10px black;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#input-search-two {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-container {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 100px;
}

#clear-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 5em;
    min-width: 40px;
    max-width: 40px;
    height: 3em;
    margin: 5px;
}

#fetch-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 5em;
    min-width: 40px;
    max-width: 40px;
    height: 3em;
    margin: 5px;
}

#new-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10%;
    gap: 30px;
}

.new-card-image {
    width: 100%;
    box-shadow: 10px 10px 20px black;
    cursor: pointer;
    border-radius: 4px;
    transition: 500ms;
}

.new-card-image:hover {
    box-shadow: 0px 0px 50px 20px rgb(255, 255, 255);
    transform: translate(0, -15px);
    transition: 500ms;
}

/* media for 4k */
@media screen and (max-width: 2560px) {
    #new-card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* media for 2k */
@media screen and (max-width: 1440px) {
    #new-card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* media for laptop */
@media screen and (max-width: 1024px) {
    #new-card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* media for tablet */
@media screen and (max-width: 768px) {
    #new-card-container {
        grid-template-columns: 1fr 1fr;
    }
}

/* media for mobile */
@media screen and (max-width: 425px) {
    #new-card-container {
        grid-template-columns: 1fr;
    }
}